.info {
    margin: 0;
    margin-bottom: 30px;
    padding: 10px 35px;
    height: auto;
    width: 70%;
    box-sizing: border-box;
    display: none; /* feature toggle */
    align-items: center;
    flex-direction: column;
    background-color: #d1cece;
    position: relative;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

li {
    list-style: square;
    margin-bottom: 10px;
}
