.modal-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 700px;
}

.covid-card-text {
    margin: 0;
}

.covid-card-clarification-text {
    margin-top: 5px;
    font-size: 14px;
}

.bold-text {
    font-weight: 700;
}

.covid-text-area {
    width: 400px;
}

.button-container {
    width: 50%;
    margin-top: 15px;
}

.second-button {
    margin-top: 10px;
}

.notification-message {
    color: #8e3bff;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.error {
    color: #ff523b;
}

.content-notification-info {
    width: 70%;
}

.notification-text {
    color: #ff523b;
}
