nav {
  padding: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

#user-name-container {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

#profile-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 10px;
}

.header-user-content {
  display: flex;
  flex-direction: row !important;
}

.greeting-text {
  margin-left: 10px;
}

.header-button-container {
  width: 250px;
}
